# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/
main
spotchat

.env

.vscode
.idea
.idea/*
*.log
catetan.md
spot-chat
cmd/service/__debug_bin
*.log.gz
application.log
application.toml
.DS_Store
.claude
.env
config.yaml
course-material/